<section class="title-text-divider" id="team">
		
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
							
														<h2>Two atypical minds brought together by the dream of making boats fly and changing urban transport for the better.</h2>
							
							
						</div>
					</div>
				</div>
			
			</section>
			<section class="image-block">
				<div class="container">
					<div class="row">
						<div class="col-md-5 col-sm-7">
							<div class="text-block">
								<h2>Alain Thébault</h2>
								<p>
									One day my daughters asked me: 'It's great that you hold the Double World Sailing World Speed Record, but why don't you use your inventivity for the greater good, for our planet, giving everyone the opportunity to fly on water?'<br>
									
								</p>
							</div>
						</div>
					</div>
				</div>
			
				<div class="image-holder embed-holder col-md-8 col-sm-4 pull-right">
				<iframe src="https://www.youtube.com/embed/pm3wGYW71A4" frameborder="0" allowfullscreen></iframe>
				</div>
			</section>
			<section class="image-block">
				<div class="container">
					<div class="row">
						<div class="col-md-5 col-sm-7">
							<div class="text-block">
								<h2>Anders Bringdal</h2>
								<p>
									With the addiction of the open ocean, Waves and free life that sadly only to few are allowed to live. When Alain first spoke to me regarding his idea of the Sea Bubbles we straight away came to the conclusion that this would be something great for the cities. Help those who want to be able, even if for just part of their day to use the waters in around the cities in a silent non polluting fun way. Being part of nature enjoying the waters and view the city from another angle.<br>
									
								</p>
							</div>
						</div>
					</div>
				</div>
			
				<div class="image-holder embed-holder col-md-6 col-sm-4 pull-right">
				<iframe src="https://www.youtube.com/embed/Mt1G9H8lAiw" frameborder="0" allowfullscreen></iframe>
				</div>
			</section>
			
			<section class="team-2">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<div class="text-block">
								<div class="detail-line"></div>
								<h5>MEET OUR TEAM</h5>
							</div>
						</div>
						
					</div>
				
					<div class="row">
							<div class="col-md-3 col-sm-8 team-member">
								
								<h3>Anders Bringdal</h3>
								<span>SeaBubbles Founder and CEO</span>
								<p>
									Windsurf World Speed Record 2012 - 51.45 knots<br>
									Big wave rider - Jaws Hawaii
								</p>
							</div>
						
							<div class="col-md-3 col-sm-8 team-member">
								
								<h3>Alain Thébault</h3>
								<span>SeaBubbles Founder and VP</span>
								<p>
									Double World Sailing Speed Record 2009
50.17 over one nautical mile
								</p>
							</div>
							<div class="col-md-3 col-sm-8 team-member">
								
								<h3>Boris<br>Prat </h3>
								<span>SeaBubbles structure calculation</span>
								<p>
									Airbus retired, ex-Head of structure design Airbus A 330-A340
								</p>
							</div>
							<div class="col-md-3 col-sm-8 team-member">
							
								<h3>Thomas Millès</h3>
								<span>Product Design Engineer</span>
								<p>
									<br><br><br><br>
								</p>
							</div>

							<div class="col-md-3 col-sm-8 team-member">
								
								<h3>Philippe Perrier</h3>
								<span>SeaBubbles hydrodynamic and dynamic stability</span>
								<p>
									Head of design Rafale Program - Dassault Aviation
								</p>
							</div>
						
							<div class="col-md-3 col-sm-8 team-member">
								
								<h3>Nicolas Baverez</h3>
								<span>Hydroptere mainsail Trimmer</span>
								<p>
									Gibson Dunn France Partner<br><br>
								</p>
							</div>
					</div>
						
				
		
				</div>