<section class="timeline-1" id="timeline">
				<div class="background-image-holder overlay">
					
				</div>
			
				<div class="container">
					<div class="row">
						<div class="col-sm-12 text-center">
							<div class="timeline-section">
								<div class="left-content timeline-content">
									<h2 class="text-white">February 2016</h2>
									<p class="text-white">
										Finalization of design							</p>
								</div>
							
								<div class="right-content timeline-content">
									<i class="pe-7s-compass text-white"></i>
								</div>
							</div>
						
							<div class="timeline-section">
								<div class="left-content timeline-content">
									<i class="pe-7s-note2 text-white"></i>
								</div>
							
								<div class="right-content timeline-content">
									<h2 class="text-white">December 2016</h2>
									<p class="text-white">
										Boat ready for testing
									</p>
								</div>
							</div>
						
							<div class="timeline-section">
								<div class="left-content timeline-content">
									<h2 class="text-white">February 2017</h2>
									<p class="text-white">
										Start of production
									</p>
								</div>
							
								<div class="right-content timeline-content">
									<i class="pe-7s-box2 text-white"></i>
								</div>
							</div>
						
							<div class="timeline-section">
								<div class="left-content timeline-content">
									<i class="pe-7s-users text-white"></i>
								</div>
							
								<div class="right-content timeline-content">
									<h2 class="text-white">June 2017</h2>
									<p class="text-white">
								First production boats
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</section>