	<div class="main-container">
					
		<section class="hero-slider large-image hidden-xs">
				<ul class="slides">
					<li>
						<div class="background-image-holder">
							<img alt="Slide Background" class="background-image" src="sillage.jpg">
						</div>
					
			
						<div class="container vertical-align">
							<div class="row">
								<div class="col-sm-12 text-center">
									<h1 class="text-white"><strong>Sea</strong>Bubbles</h1>
									<h2 class="text-white">Flying on water</h2>
									<h4 class="text-white"><em>More coming soon...</em></h4>
								</div>
							</div>
						</div>	
					</li>
				
				</ul>
			</section>
            <section class="title-text-divider" id="project">
		
				<div class="container">
					<div class="row">
						<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
							<h2>Act or do not act?</h2>
							<h4>No real eco friendly transportation exists that can use the un-crowded waterways.</h4>
						</div>
					</div>
				</div>
			
			</section>
           
				</div>
