
<div>
<section class="double-pad" id="catch">
				<div class="background-image-holder overlay">
					<img alt="Slide Background" class="background-image" src="waves.jpg">
				</div>	
			
				<div class="container">
						<div class="row">
							<div class="col-md-6 col-sm-7">
								<h2 class="text-white">Most big Cities have a river running through it or they are based on the ocean
front. Cities are trying to decrease the pollution.</h2>
								<p class="text-white lead">
									Examples of such efforts include the promotion of self-serve electric
vehicles (such as Autolib in Paris), greener public transportation
vehicles etc…<br><br>
Yet limited efforts have been put in the development of a green maritime
transportation system. Such as SeaBubbles.
								</p>
							</div>
						</div>
				</div>
			
			</section>
			
			<section class="action-strip-3 double-pad">
				<div class="background-image-holder parallax-background">
					<img alt="Slide Background" class="background-image" src="img/bay.jpg">
				</div>
			
				<div class="container">
					<div class="row">
						<div class="col-xs-12 text-center">
							<h2 class="text-white"><br><br><br><br><br><br><br><br>Our Vision for the Bubbles is to be a fun green mode of transport that
answers the needs in the ever-congested public transport systems around
the globe.</h2>
						</div>
					</div>
				
				</div>
			
			</section>
			
			
			<section class="wide-features">
				<div class="container">
					<div class="row">
						<div class="col-sm-6">
							<div class="wide-feature">
								
								<h2><i class="fa fa-circle-o"></i> &nbsp; Cities will be forced to go greener.</h2>
							</div>
						</div>
					
						<div class="col-sm-6">
							<div class="wide-feature">
								<h2><i class="fa fa-circle-o"></i> &nbsp; To help them, SeaBubbles will exploit the waterways already used by millions in NYC and
London but with a negative impact on the environment.</h2>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="wide-feature">
								<h2><i class="fa fa-circle-o"></i> &nbsp; Our solution will be Green, easy to book and reinforce the cities tourist attractiveness.</h2>
							</div>
						</div>
					
						<div class="col-sm-6">
							<div class="wide-feature">
								<h2><i class="fa fa-circle-o"></i> &nbsp; Our business model will enable fast roll out in many cities/countries.</h2>
							</div>
						</div>
					</div>
					<hr><br>
					<div class="row">
						<div class="col-xs-12">
					<h2>When it is time to go to work or touring around. How will you go?<br>
						Catch a bubble!</h2>
						<h4>SeaBubbles will be like the Yellow cab in NYC. But with a few big differences.<br>
It is Green, It is fun and it is safe. And you will not get stuck in traffic.<br>
It will be great to live in such city where you can commute in and out using this new modern way of
transport.</h4>
						</div>
					</div>
				</div>
			</section>
      </div>